<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">
    <servlet-mapping>
        <servlet-name>MappingSpec</servlet-name>
        <url-pattern>/mapping</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>MappingSpec</servlet-name>
        <servlet-class>com.example.http.MappingSpec</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CustomerController</servlet-name>
        <url-pattern>/customer</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>CustomerController</servlet-name>
        <servlet-class>com.example.http.CustomerController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>JsonTypeHandle</servlet-name>
        <url-pattern>/json</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>JsonTypeHandle</servlet-name>
        <servlet-class>com.example.http.JsonTypeHandle</servlet-class>
    </servlet>

</web-app>